html-test.html
__pycache__
__pycache__\corail_parser.cpython-310.pyc
Abitibi-Témiscamingue
Bas-Saint-Laurent
Capitale-Nationale
Centre-du-Québec
Chaudière-Appalaches
Côte-Nord
Estrie
Gaspésie--Îles-de-la-Madeleine
Lanaudière
Laurentides
Laval
Mauricie
Montérégie
Montréal
Nord-du-Québec
Ontario
Outaouais
Plus d'une région
Québec plus autre(s) province(s)
Saguenay--Lac-Saint-Jean
Toutes les régions
chromedriver.exe
html-test.html
regions.txt
test.py