html-test.html
__pycache__
__pycache__\corail_parser.cpython-310.pyc
Abitibi-Témiscamingue
Bas-Saint-Laurent
Capitale-Nationale
Centre-du-Québec
Chaudière-Appalaches
Côte-Nord
Estrie
Gaspésie--Îles-de-la-Madeleine
Lanaudière
Laurentides
Laval
Mauricie
Montérégie
Montréal
Nord-du-Québec
Ontario
Outaouais
Plus d'une région
Québec plus autre(s) province(s)
Saguenay--Lac-Saint-Jean
Toutes les régions
chromedriver.exe
html-test.html
regions.txt
test.py
4951048 (1).pdf
4951048.pdf
5047924.pdf
5047924 (1).pdf
6655321 (1).pdf
6655321 (2).pdf
6655321 (3).pdf
6655321 (4).pdf
6655321.pdf
7942151 (1).pdf
7942151.pdf
log_parser_2025-04-03_08-30-57.txt
log_parser_2025-04-03_08-47-04.txt
log_parser_2025-04-03_08-57-45.txt
log_parser_2025-04-03_08-59-00.txt
log_parser_2025-04-03_09-02-38.txt
log_parser_2025-04-03_09-07-10.txt
log_parser_2025-04-03_09-17-58.txt
log_parser_2025-04-03_09-31-53.txt
log_parser_2025-04-03_09-49-11.txt
log_parser_2025-04-03_10-04-40.txt
log_parser_2025-04-03_10-13-59.txt
log_parser_2025-04-03_10-22-19.txt
log_parser_2025-04-03_10-46-05.txt
test.htm
test2.htm
conventions/
CORAIL - Résultats de la recherche de documents_files/
download/
test2_files/
venv/